
*{
    font-family: 'Kufam', cursive;
    margin:  auto;
}
body{
    background-color: rgb(230, 230, 230);
}
.calculator {
    display: flex;
    flex-flow: column;
    margin: 50px auto;
    padding: 16px;
    background-color: rgb(236, 236, 236);
    width: 285px;
    height: 450px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
                -2px -2px 12px rgba(255, 255, 255, 0.5),
                inset 2px -2px 4px rgba(255, 255, 255, 0.1),
                2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.calculator:hover{
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
                inset -2px -2px 12px rgba(255, 255, 255, 0.5),
                inset 2px -2px 4px rgba(255, 255, 255, 0.1),
                inset 2px 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
}

.calculator button {
    display: block;
    width: 62.5px;
    height: 62.5px;
    font-size: 25px;
    
}

#result {
    display: block;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    width: 285px;
    height: 70px;
    line-height: 60px;
    background-color: #fff;
    color: #5a84a2;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.5),
                -2px -2px 12px rgba(255, 255, 255, 0.5),
                inset 2px -2px 4px rgba(255, 255, 255, 0.5),
                2px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: auto;

}
.title1 {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-top: 50px;
    color: #5a84a2;
    border-radius: 35px;
    padding: 15px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
                -2px -2px 12px rgba(255, 255, 255, 0.5),
                inset 2px -2px 4px rgba(255, 255, 255, 0.1),
                2px 2px 8px rgba(0, 0, 0, 0.3);
}
/* .title1:hover {
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
                inset -2px -2px 12px rgba(255, 255, 255, 0.5),
                inset 2px -2px 4px rgba(255, 255, 255, 0.1),
                inset 2px 2px 8px rgba(0, 0, 0, 0.3);
} */

button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 0 5px;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
    border-style: none;
    background-color: #f2f3f7;
    color: #5a84a2;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
                -2px -2px 12px rgba(255, 255, 255, 0.5),
                inset 2px -2px 4px rgba(255, 255, 255, 0.1),
                2px 2px 8px rgba(0, 0, 0, 0.15);


    
}
button:hover {
    box-shadow: inset -1px -1px 8px rgba(255, 255, 255, 1),
                inset -1px -1px 12px rgba(255, 255, 255, 0.5),
                inset 1px -1px 4px rgba(255, 255, 255, 0.1),
                inset 1px 1px 8px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    
}

.row1{
    display: flex;
    flex-flow: row;
}
.row2{
    display: flex;
    flex-flow: row;
}
.row3{
    display: flex;
    flex-flow: row;
}
.row4{
    display: flex;
    flex-flow: row;
}
.row5{
    display: flex;
    flex-flow: row;
}